<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Stavro Polis</title>

    <link rel="icon" href="/static/main/images/favicon.ico">
    <link rel="stylesheet" href="/static/main/css/main.css">
    <link rel="stylesheet" href="/static/main/css/header.css">
    <link rel="stylesheet" href="/static/main/css/footer.css">
    <link rel="stylesheet" href="/static/main/css/navbar.css">
</head>
<body class="mainbody">

<!-- Header Content -->

<header>
    <div class="bannerimage"></div>
</header>

<!-- Navbar Content -->

<nav class="navbar">
    <div class="welcome-text">Welcome</div>

    <input type="checkbox" id="menu-toggle" title="Handles mobile viewing menu">

    <label id="mt-label" for="menu-toggle">
        <img id="menu-bar" src="/static/main/images/menu-bar.png" alt="menu bar" loading="lazy">
    </label>

    <ul class="directories">
        <li>
            <a href="/home.html" class="directory"> Home</a>
        </li>
        <li>
            <a href="/projects.html" class="directory"> Projects</a>
        </li>
        <li>
            <a href="/static/main/downloadables/placeholderresume.pdf" class="directory"> Resume</a>
        </li>
        <li>
            <a class="directory" id="linkedin-text" href="https://www.linkedin.com/in/stavro-polis-a6555226b/" target="_blank">
            <img class="linkedin-img" src="/static/main/images/social-linkedin.png" alt="LinkedIn logo" loading="lazy">
            LinkedIn
            </a>
        </li>
    </ul>
</nav>

<!-- Main Content -->

<main class="main">
    <div class="main-content">
        <div class="picture-me"></div>
        <div class="about-me">
            <h1>Welcome to My Corner of the Digital World</h1>
            <p>
                I'm Stavro Polis, an enthusiastic Computer Science undergraduate with a fervent 
                passion for all things tech. This website serves as my virtual hub, where I aim
                to provide a glimpse into my academic journey, projects, and insights garnered 
                from immersing myself in the dynamic realm of computer science. From the moment
                I wrote my inaugural "Hello, World!" program, I've been captivated by the 
                infinite possibilities that code unlocks. Through rigorous coursework and hands-on 
                experiences, I've cultivated a solid foundation in fundamental concepts like algorithms, 
                data structures, and software engineering principles.
                <br>
                <br>
                As I continue my undergraduate studies, I eagerly anticipate delving deeper into specialized 
                areas within computer science while also seeking out hands-on experiences through internships 
                and collaborative projects. My ultimate goal is to not only stay abreast of the latest advancements 
                but also contribute meaningfully to the ever-evolving landscape of technology.   
            </p>
        </div>
    </div>

    <hr>

    <div class="fun-fact">
        <h2>A fun fact about me:</h2>
        <p>I speak two languages, English and Neo-Aramaic.</p>
    </div>
    
</main>

<!-- Footer Content -->

<footer class="footer">
   &copy 2024 Stavro Polis 
</footer>

</body>
</html>
