<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Stavro Polis</title>

    <link rel="icon" href="/static/main/images/favicon.ico">
    <link rel="stylesheet" href="/static/main/css/main.css">
    <link rel="stylesheet" href="/static/main/css/header.css">
    <link rel="stylesheet" href="/static/main/css/footer.css">
    <link rel="stylesheet" href="/static/main/css/navbar.css">
    <link rel="stylesheet" href="/static/piano/css/piano.css">
    
</head>
<body class="mainbody">

<!-- Header Content -->

<header>
    <div class="bannerimage"></div>
</header>

<!-- Nav Content -->

<nav class="navbar">
    <div class="welcome-text">Welcome</div>

    <input type="checkbox" id="menu-toggle" title="Handles mobile viewing menu">

    <label id="mt-label" for="menu-toggle">
        <img id="menu-bar" src="/static/main/images/menu-bar.png" alt="menu bar" loading="lazy">
    </label>

    <ul class="directories">
        <li>
            <a href="/home.html" class="directory"> Home</a>
        </li>
        <li>
            <a href="/projects.html" class="directory"> Projects</a>
        </li>
        <li>
            <a href="/home.html" class="directory"> Resume</a>
        </li>
        <li>
            <a class="directory" id="linkedin-text" href="https://www.linkedin.com/in/stavro-polis-a6555226b/" target="_blank">
            <img class="linkedin-img" src="/static/main/images/social-linkedin.png" alt="LinkedIn logo" loading="lazy">
            LinkedIn
            </a>
        </li>
    </ul>
</nav>

<!-- Main Content -->

<main>

    <p id="piano-poem">
        Behold piano great and old, it's master slumbers in far off cold, If you wish to see anew,
        call out to it - we see you.
    </p>
    <hr id="piano-hr">

    <!-- Container for piano keys and background -->

    <div id="piano-content">
        <h1 id="piano-name">The Great Old One</h1>

        <ul id="piano-keys">
            <li id="A-key" class="white-key"><p class="key-text">A</p></li>
            <li id="W-key" class="black-key"><p class="key-text">W</p></li>
            <li id="S-key" class="white-key"><p class="key-text">S</p></li>
            <li id="E-key" class="black-key"><p class="key-text">E</p></li>
            <li id="D-key" class="white-key"><p class="key-text">D</p></li>
            <li id="F-key" class="white-key"><p class="key-text">F</p></li>
            <li id="T-key" class="black-key"><p class="key-text">T</p></li>
            <li id="G-key" class="white-key"><p class="key-text">G</p></li>
            <li id="Y-key" class="black-key"><p class="key-text">Y</p></li>
            <li id="H-key" class="white-key"><p class="key-text">H</p></li>
            <li id="U-key" class="black-key"><p class="key-text">U</p></li>
            <li id="J-key" class="white-key"><p class="key-text">J</p></li>
            <li id="K-key" class="white-key"><p class="key-text">K</p></li>
            <li id="O-key" class="black-key"><p class="key-text">O</p></li>
            <li id="L-key" class="white-key"><p class="key-text">L</p></li>
            <li id="P-key" class="black-key"><p class="key-text">P</p></li>
            <li id=";-key" class="white-key"><p class="key-text">;</p></li>
        </ul>
    </div>


</main>

<!-- Footer Content -->

<footer class="footer">
    &copy 2024 Stavro Polis 
</footer>

<script src="/static/piano/js/piano.js" defer></script>

</body>
</html>