/* Footer Styling */

.footer{
    text-align: center;
    vertical-align: middle;
    line-height: 8vh;
    font-size: 1.1em;
    color: #636363;
    margin-top: 4vh;
    height: 8vh;
    background-color: #222222;
}